html{
  background-image: url('http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg');
  background-size: cover;
}
body{
  color: #FFFFFF;
  font-family: sans-serif;
}
section{
  text-align: center;
}

.images{
  border: 4px solid #06C1DF;
  display: inline-block;
  width: auto;
  align-content: center;
}

.nav-links{
  text-align: center;
}

ul{
  list-style:none;
}
